{% extends 'master.html' %} {% load static %}
<!-- Bootstrap CSS -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>

<!-- Bootstrap JS y dependencias Popper.js y jQuery -->
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>

{% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Promociones</h1>
    <a
      href="{% url 'lista_promociones' %}"
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
      >Mostrar Lista</a
    >
  </div>

  <!-- Content Row -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Agregar Promoción</h6>
    </div>
    <div class="card-body">
        <form id="formPromocion">
                {% csrf_token %}
                <div class="row mb-3">

                    <div class="col-12" >
                        <label for="{{ form.tipo_promocion.id_for_label }}">Tipo promocion</label>
                        {{ form.tipo_promocion }}
                    </div>
            
                    <div class="col-6" id="div_descripcion">
                        <label for="{{ form.descripcion.id_for_label }}">Descripcion</label>
                        {{ form.descripcion }}
                    </div>
            
                    <div class="col-3" id="div_fecha_inicio">
                        <label for="{{ form.fecha_inicio.id_for_label }}">Fecha inicio</label>
                        {{ form.fecha_inicio }}
                    </div>
            
                    <div class="col-3" id="div_fecha_fin">
                        <label for="{{ form.fecha_fin.id_for_label }}">Fecha fin</label>
                        {{ form.fecha_fin }}
                    </div>
                    <div class="col-6" id="div_articulo_aplicable">
                        <label for="{{ form.articulo_aplicable.id_for_label }}">Articulo aplicable</label>
                        {{ form.articulo_aplicable }}
                    </div>
                    <div class="col-6" id="div_cantidad_minima_compra">
                        <label for="{{ form.cantidad_minima_compra.id_for_label }}">Cantidad minima compra</label>
                        {{ form.cantidad_minima_compra }}
                    </div>
                    <div class="col-6" id="div_articulo_bonificacion">
                        <label for="{{ form.articulo_bonificacion.id_for_label }}">Articulo bonificacion</label>
                        {{ form.articulo_bonificacion }}
                    </div>
                    <div class="col-6" id="div_unidades_bonificadas">
                        <label for="{{ form.unidades_bonificadas.id_for_label }}">Unidades bonificadas</label>
                        {{ form.unidades_bonificadas }}
                    </div>
                    <div class="col-6" id="div_tipo_cliente">
                        <label for="{{ form.tipo_cliente.id_for_label }}">Tipo cliente</label>
                        {{ form.tipo_cliente }}
                    </div>
            
                    <div class="col-6" id="div_condiciones">
                        <label for="{{ form.condiciones.id_for_label }}">Condiciones</label>
                        {{ form.condiciones }}
                    </div>
            
                    <div class="col-6" id="div_descuentos">
                        <label for="{{ form.descuentos.id_for_label }}">Descuentos</label>
                        {{ form.descuentos }}
                    </div>
            
                    <div class="col-6" id="div_formula">
                        <label for="{{ form.formula.id_for_label }}">Formula</label>
                        {{ form.formula }}
                    </div>
            
                    <div class="col-6" id="div_monto_maximo">
                        <label for="{{ form.monto_maximo.id_for_label }}">Monto maximo</label>
                        {{ form.monto_maximo }}
                    </div>
            
                    <div class="col-6" id="div_monto_minimo">
                        <label for="{{ form.monto_minimo.id_for_label }}">Monto minimo</label>
                        {{ form.monto_minimo }}
                    </div>
            
                    <div class="col-6" id="div_porcentaje_descuento">
                        <label for="{{ form.porcentaje_descuento.id_for_label }}">Porcentaje descuento</label>
                        {{ form.porcentaje_descuento }}
                    </div>
            
                    <div class="col-6" id="div_proveedor">
                        <label for="{{ form.proveedor.id_for_label }}">Proveedor</label>
                        {{ form.proveedor }}
                    </div>
            
               
            
                </div>
                <div class="col-6" id="div_productos_asociados">
                <button type="button" 
                    id="mostrarArticulosBtn" class="btn btn-success" data-toggle="modal" data-target="#myModal">Seleccionar Artículos Asociados</button>
      
               
              
                <!-- Ventana Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Artículos</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table class="table">
                                    <!-- ... (cabecera de la tabla) ... -->
                                    <tbody>
                                        {% for articulo in articulos %}
                                            <tr>
                                                <!-- Caja de selección para cada artículo -->
                                                <td>
                                                    <input type="checkbox" name="articulosSeleccionadosModal" value="{{ articulo.id }}">
                                                </td>
                                                <!-- Campos de información del artículo -->
                                                <td>{{ articulo.codigo_sku }}</td>
                                                <td>{{ articulo.descripcion }}</td>
                                                <!-- ... (otros campos relevantes) ... -->
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="aceptarArticulosModal()">Aceptar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ... (otros campos del formulario) ... -->

                <div id="articulosSeleccionados" class="mt-4" style="display: none;">
                    <h5 class="mb-3">Artículos Seleccionados</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Código SKU</th>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <!-- ... (otros campos relevantes) ... -->
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí se mostrarán los artículos seleccionados -->
                        </tbody>
                    </table>
                
                </div>
            </div>
                <!-- Otros elementos del formulario (si los hay) -->
                <button type="submit" class="btn btn-primary">Guardar</button>
              </form>
    </div>
  </div>
</div>
<!-- Asegúrate de cargar jQuery antes de tu script -->
<script>
    $(document).ready(function () {
        // Función para mostrar u ocultar campos según el tipo de promoción
        function mostrarCamposSegunTipoPromocion() {
            var tipoPromocion = $('#id_tipo_promocion').val();

            // Ocultar todos los campos relacionados con la promoción
            $('[id^="div_"]').css('display', 'none');

            // Mostrar campos específicos según el tipo de promoción
           
            switch (tipoPromocion) {
                case 'caso_1':
                    $('#div_descripcion, #div_articulo_aplicable, #div_articulo_bonificacion, #div_cantidad_minima_compra, #div_unidades_bonificadas, #div_fecha_inicio,#div_fecha_fin,#div_tipo_cliente').show();
                    break;
                // Agrega más casos según sea necesario
                case 'caso_2':
                    // Mostrar los campos generales en caso de otros tipos de promoción
                    $('#div_fecha_inicio,#div_fecha_fin ,#div_monto_minimo, #div_porcentaje_descuento,#div_tipo_cliente').show();
                    break;
                case 'caso_3':
                    // Mostrar los campos generales en caso de otros tipos de promoción
                    $('#div_fecha_inicio,#div_fecha_fin ,#div_tipo_cliente, #div_porcentaje_descuento,#div_productos_asociados').show();
                    break;
            }
            // Agrega lógica para otros tipos de promoción si es necesario
        }

        // Ejecutar la función al cargar la página
        mostrarCamposSegunTipoPromocion();

        // Llamar a la función en respuesta al cambio en el tipo de promoción
        $('#id_tipo_promocion').change(function () {
            mostrarCamposSegunTipoPromocion();
        });
    });
</script>

<script>
    document.getElementById('mostrarArticulosBtn').addEventListener('click', function () {
        // Mostrar la ventana emergente al hacer clic en "Artículos"
        $('#myModal').modal('show');
    });

    function aceptarArticulosModal() {
        // Lógica para procesar los artículos seleccionados y cerrar la ventana
        var articulosSeleccionados = document.getElementsByName('articulosSeleccionadosModal');

        // Limpia la tabla de artículos seleccionados en la ventana principal
        var tbody = document.querySelector('#articulosSeleccionados tbody');
        tbody.innerHTML = '';

        // Itera sobre los artículos seleccionados en la ventana emergente
        for (var i = 0; i < articulosSeleccionados.length; i++) {
            if (articulosSeleccionados[i].checked) {
                var articuloId = articulosSeleccionados[i].value;
                var articulo = obtenerArticuloPorId(articuloId);

                // Agrega el artículo a la tabla de artículos seleccionados en la ventana principal
                var row = tbody.insertRow();
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                cell1.innerHTML = articulo.codigo_sku;
                cell2.innerHTML = articulo.descripcion;
                cell3.innerHTML = '<input type="number" name="cantidades['+i+']" value="1" min="1">';
            }
        }

        // Cierra la ventana emergente
        $('#myModal').modal('hide');

        // Muestra la tabla de artículos seleccionados
        document.getElementById('articulosSeleccionados').style.display = 'block';
    }

    // Función para obtener la información de un artículo por ID
    function obtenerArticuloPorId(articuloId) {
        // Obtiene el elemento del formulario con el ID del artículo
        var articuloElement = document.querySelector('[value="' + articuloId + '"]');

        // Obtiene la información del artículo directamente desde el formulario
        return {
            codigo_sku: articuloElement.parentElement.nextElementSibling.textContent,
            descripcion: articuloElement.parentElement.nextElementSibling.nextElementSibling.textContent,
        };
    }
</script>


{% endblock %}
