{% extends 'master.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Promociones</h1>
        <a href="{% url 'agregar_promocion' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Nueva Promoción</a>
    </div>

    <!-- Content Row -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">Descripción</th>
                            <th scope="col">Fecha de Inicio</th>
                            <th scope="col">Fecha de Fin</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Tipo Cliente</th>
                            <th scope="col">Articulo</th>
                            <th scope="col">Cantidad</th>
                           
    
                            
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for promocion in promociones %}
                        <tr>
                            <td>{{ promocion.descripcion }}</td>
                            <td>{{ promocion.fecha_inicio|date:'d/m/Y' }}</td>
                            <td>{{ promocion.fecha_fin|date:'d/m/Y' }}</td>
                            <td>{{ promocion.activo }}</td>
                            <td>{{ promocion.tipo_cliente }}</td>
                            <td>{{ promocion.articulo }}</td>
                            <td>{{ promocion.cantidad }}</td>
                            <td>
                                <a href="{% url 'editar_promocion' promocion.id %}" class="btn btn-sm "><i class="bi bi-pencil"></i></a>
                                <a href="{% url 'eliminar_promocion' promocion.id %}" class="btn btn-sm "><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                
            </div>
        </div>
    </div>
</div>



<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
        });
    });
</script>

{% endblock %}

